
        <div id="whcComments" class="container col-md-9" style="padding: 0 20px;">
            <div class="row">
                <div class="col-md-9 col-sm-12">
                    <div id="comments" class="comments-area">
                <div id="respond" class="comment-respond">
                <h3 id="reply-title" class="comment-reply-title">
                    <div class="crunchify-text"> 
                        <h5><strong style="font-size: larger;">Leave a Reply</strong>
                        </h5>
                    </div>                 
                </h3>
                <form action="https://whc.ca/wp-comments-post.php" method="post" id="commentform" class="comment-form" novalidate="">
                    <p>
                        Your email address will not be published. Required fields are marked <span class="required">*</span>
                    </p>
                    <p class="comment-form-comment">
                        <label for="comment"><strong>Comment</strong>
                        <span class="required">*</span>
                    </label><textarea id="comment" name="comment" rows="8" required=""></textarea>
                    </p>
                    <p class="comment-form-author">
                        <label for="author">
                            <strong>Name</strong>
                        </label> 
                        <span class="required">*</span> 
                        <input id="author" name="author" type="text" value="" size="30" required=""></p>
                    <p class="comment-form-email">
                        <label for="email">
                            <strong>Email</strong>
                        </label> <input id="email" name="email" type="text" value="" size="30"></p>            
                    </div>
                    
                    <button type="button" class="btn btn-success">Post Comment</button>
                    <br><br>
                    </div>
                </div>
            </div>
        </div>  
      