    <div class="container-fluid " id="top"> <!-- Check .css -->
        <div class="row">
            <div class="col-md-2 offset-1">
                <img src="./logo.jpg" alt="Logo" class="rounded-circle img-fluid"; id="image" width=auto height=auto/> <!-- Check .css -->
            </div>
            <div class="col-md-2" id="logoName" >  <!-- Check .css -->
                <div class="row" >
                    <h1><strong>Web</strong></h1>
                </div>
                <div class="row">
                  <h1><strong>Hosting</strong></h1>
              </div>
            </div>
            
              <div class="col-md-2 offset-1 justify-content-center align-items-center d-flex">
                <button type="button" class="btn btn-outline-primary" style="color: #131729;"
                ><strong>Hosting & Servers</strong> 
                </button>
              </div>
              <div class="col-md-2 justify-content-center align-items-center d-flex">
                <button type="button" class="btn btn-outline-primary" style="color: #131729;"
                ><strong>Domains</strong>
                </button>
              </div>
              <div class="col-md-2 justify-content-center align-items-center d-flex">
                <button type="button" class="btn btn-outline-primary" style="color: #131729;"
                ><strong>Email & Contact Us</strong>
                </button>
              </div>
                     
        </div>
    </div>

    <div class="container-fluid bg-overlay" id="webTOP">
      <div class="row text-center">
          <h1>Web Hosting Service</h1>
      </div>
  </div>